<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hftcom"
    android:versionCode="122"
    android:versionName="1.2.2" >

    <uses-sdk android:minSdkVersion="10"/>
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"  android:name=".YFApp">
        <activity
            android:name=".ui.LoadingActivity"
            android:theme="@style/emptyTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.reversal.ReversalActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".ui.query.TradeListActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MainMenuActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".ui.mpos.PurchaseActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait" android:exported="true"/>
        
        <!-- 调用接口 -->
        <activity android:name=".ui.HftPayActivity"
            android:theme="@style/emptyTheme"
             android:launchMode="singleTask"
             android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="com.hftcom.elecpayment.pay"/>
                <action android:name="com.hftcom.html5.pay"/>
				<category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.pay.SwipingCardActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".ui.pay.WxPayActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <!-- 更多 -->
        <activity android:name=".ui.more.MoreActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".ui.more.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.more.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.more.SetfTradeFlow" android:screenOrientation="portrait"/>
        
        <activity android:name="com.qrcodescanner.qrcode.QrCodeActivity" android:screenOrientation="portrait"/>
 
        <service android:name=".PayWebSocketService" android:process=":remote" />
        <service android:name=".PsamService"/>
    </application>

</manifest>