<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfcomm.businesshall"
    android:versionCode="4"
    android:versionName="4.0"
    android:sharedUserId="android.uid.system">
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".DealHomeKey"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".EntranceSel"
            android:label="选择演示项目" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="营业厅业务"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".consumptionTreasure"
            android:label="消费宝业务"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".PurchaseActivity"
            android:label="获取消费金额"
            android:screenOrientation="portrait" >
        </activity>
  
        <activity
            android:name=".consumptionaddandopen"
            android:label="充值和开户"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingChoiceDialogActivity"
            android:label="选择运营商"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.seloperators" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpencardActivety"
            android:label="开户"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.bussinesshallopencard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selectplanActivety"
            android:label="选择套餐"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.selectplanActivety" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IdentityAuthentication"
            android:label="读身份证"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.IdentityAuthentication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".paymentActivety"
            android:label="支付"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.com.yfcomm.businesshall.paymentActivety" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>